email=sidhin@accruontechnologies.com
#always-auth=true
#_auth=YWRtaW46YWRtaW4=
registry.npmjs.org/:_auth=YWRtaW46YWRtaW4=
allowRepublish=true
#//35.154.119.39:8081/repository/nodejs-repo/:_authToken=YWRtaW46YWRtaW4=
registry = http://35.154.119.39:8081/repository/nodejs-repo/:_authToken=YWRtaW46YWRtaW4=
